#main {
    text-align: center;
    margin-top: 32vh;
}

@media (max-width: 768px) {
    .video {
        display: inline !important;
    }
}

#main hr {
    width: 30vw;
}

@media (max-width: 1100px) {
    #main {
        color: whitesmoke;
    }
}
@media (min-width: 1101px) {
    #main {
        color: black;
    }
}