.page {
    display: grid;
    grid-template-columns: 50% 50%;
}

@media only screen and (max-width: 1024px) {
    .page {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 765px) {
    .page {
        grid-template-columns: 100%;
    }
}

.project {
    margin: 10px;
}

.header {
    color: rgb(33,37,41);
    text-align: center;
    margin-top: 30px;
}
.header:hover {
    opacity: 0.7;
}
.link {
    color: rgb(33,37,41);
    opacity: 0.7;
}
.link:hover {
    color: rgb(33,37,41);
    opacity: 1;
}

.picContainer {
    overflow: hidden;
    margin: 20px;
    border: solid rgba(0, 0, 0, .05);
}

.projectTitle {
    color: black;
}
.projectTitle:hover {
    color: black;
    opacity: 0.7;
}

.picContainer .pic {
    max-width: 100%;

    -moz-transition: opacity 500ms ease-in,
                transform 0.2s !important;
    -webkit-transition: opacity 500ms ease-in,
                transform 0.2s !important;
    transition: opacity 500ms ease-in,
                transform 0.2s !important;
}

.picContainer:hover .pic{
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }