.content {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}


.links {
    text-align: center;
}
.link {
    color: rgb(33,37,41);
    margin: 15px;
    opacity: 0.9;
}
.link:hover {
    color: rgb(33,37,41);
    opacity: 1.0;
    text-decoration: bold;
}
@media (max-width: 410px) {
    .links {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}


.logos {
    text-align: center;
    padding-bottom: 50px;
}

.logo {
    height: 24px;
    width: 24px;
    margin: 20px;
    opacity: 0.9;
}
.logo:hover {
    opacity: 1.0;
}
