html { font-size: 0.97em; }
h1 { font-size: 2.488em; }
h2 { font-size: 2.074em; }
h3 { font-size: 1.728em; }
h4 { font-size: 1.44em; }
h5 { font-size: 1.20em; }
p { font-size: 1em; }

img {
    pointer-events: none;
    -webkit-user-drag: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
}