.page {
    display: flex;
}

.flexItem {
    margin: 30px;
}

.link {
    color: #375bb0;
    opacity: 0.9;
}
.link:hover {
    opacity: 1.0;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    .page {
        flex-direction: column;
        align-items: center;
    }
}