.page {
    display: flex;
}

#aboutBackground {
    margin-top: 10vh;
    background: white;
    padding: 40px;
}

.flexItem {
    margin: 15px;
    margin-top: 25px;
}

.link {
    color: #375bb0;
    opacity: 0.9;
}
.link:hover {
    opacity: 1.0;
}

.footerLink {
    color: black;
}
.footerLink:hover {
    color: black;
}

@media only screen and (max-width: 767px) {
    .page {
        flex-direction: column;
        align-items: center;
    }
}